<div class="container">
  <div class="row g-3">
    <!-- loop through list of products -->
    {% for product in products['products'] %}
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img class="card-img-top" src= {{product['image'][0]}} height="300" alt="...">
        <div class="card-body">
          <h5 class="card-title">Name: {{ product['product_name'] }} </h5>
          <p class="card-text"><b>Description:</b> {{ product['product_description'] }}</p>
          <p class="card-text"><b>Price:</b> R{{ product['price_data']['price'] }} </p>
          
          <form class="text-center" method="POST">
            <div class="row g-2 ">
              
              <div class="col-2 col-md-12 col-xl-2">
                <button name="product" type="submit" class="btn btn-outline-primary" value={{product['stripe_product_id']}}>
                  info
                </button>
              </div>
              
              <div class="col-5 col-md-6 col-xl-5">
                <button name="add_to_cart" type="submit" class=" btn btn-outline-success" value={{product['price_data']['stripe_price_id']}}>
                 add to cart
                </button>
              </div>
              
              <div class="col-5 col-md-6 col-xl-5">
                <button name="remove_from_cart" type="submit" class="btn btn-outline-secondary"value={{product['price_data']['stripe_price_id']}}>
                remove item
                </button>
              </div>

              
            </div>
            
            
            
            
          </form>
          
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
