<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1" aria-label="Slide 2"></button>
    
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2" aria-label="Slide 3"></button>

    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  
  
  <div class="carousel-inner">
    
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="static/male clothing banner.avif" style="height: 450px; width: 100%" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="text-light text-start ">Male Clothing</h1>
        <h5 class="text-light text-start">Variety of male clothing.</h5>
      </div>
    </div>
    
    <div class="carousel-item" data-bs-interval="2000">
      <img src="static/female accessories banner.avif" style="height: 450px; width: 100%" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="text-dark text-end">Female Clothing</h1>
        <h5 class="text-dark text-end">Variety of female clothing.</h5>
      </div>
    </div>
    
    <div class="carousel-item" data-bs-interval="3000">
      <img src="static/female clothing banner.avif" style="height: 450px; width: 100%" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="text-start">Jewelry</h1>
        <h5 class="text-start">Variety of Jewelry for any occasion.</h5>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="4000">
      <img src="static/male accessories banner.avif" style="height: 450px; width: 100%" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="text-end">Accessories</h1>
        <h5 class="text-end">Variety of male and female accessories.</h5>
      </div>
    </div>
    
  </div>
  
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  
</div>