<!-- 
Variables coming into this template:

variable - 

-->


<!-- This page is inheriting everything from the base template -->
{% extends "base.html" %}

<!-- This block tag is overriding the title block tag from the base template -->
{% block title %} Contact Us {% endblock %}


<!-- This block tag is overriding the content block tag from the base template -->
{% block content%}
  <h1>Contact Us</h1>

  <form action="" method="POST" enctype="multipart/form-data">
    <div class="container text-center">
        <label for="Name">Name: </label>
        <br>
        <input type="text" name="name" placeholder="Name">
        <br>
        <label for="Price">Email: </label>
        <br>
        <input type="email" name="email" placeholder="Email">
        <br>
        <label for="Description">Subject: </label>
        <br>
        <input type="text" name="Subject" placeholder="Subject">
        <br>
        <label for="Category">Message: </label>
        <br>
        <textarea name="message" id="" cols="30" rows="10" placeholder="Type your message here"></textarea>
        <br>
        <button type="submit" class="btn btn-primary">Send</button>
    </div>
</form>


{% endblock %}