<!-- 
Variables coming into this template:

variable - 

-->


<!-- This page is inheriting everything from the base template -->
{% extends "base.html" %}

<!-- This block tag is overriding the title block tag from the base template -->
{% block title %} Contact Us {% endblock %}


<!-- This block tag is overriding the content block tag from the base template -->
{% block content%}
<h1> Contact Us </h1>

<form method="POST">

  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
    <input name="name" placeholder="insert your name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
    <input name="email" placeholder="insert email" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Subject</span>
    <input name="subject" placeholder="insert Email subject" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
  
  <div class="input-group mb-3">
  <textarea class="form-control" name="message" placeholder="insert Email message" aria-label="With textarea"></textarea>
  </div>
  
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>
{% endblock %}