<!-- 
Variables coming into this template:

variable - 

-->

<!-- This page is inheriting everything from the base template -->
{% extends "base.html" %}

<!-- This block tag is overriding the title block tag from the base template -->
{% block title %} Home {% endblock %}


<!-- This block tag is overriding the content block tag from the base template -->
{% block content%}
<h1>This is the Home page</h1>

<h2>This page should have 3 sections</h2>

<div>
  
  <ul>
    <li><p>NEW male clothing (top 3)</p></li>
    <li><p>NEW female clothing (top 3)</p></li>
    <li><p>NEW accessories clothing (top 3)</p></li>
  </ul>
  
  <p>
    Add a button to each section, when clicked it should take them to a page that will display ALL the items from the section they clicked
  </p>
  
  <p>
    (eg if male clothing button is clicked redirect to page that displays ALL male clothing only)
  </p>
  
</div>
{% endblock %}