<!-- 
Variables coming into this template:

Website data
tab_title - Header of the tab

product data
headings - Headings of the products (max 4)
products - List of products to be displayed (max 4)
-->

<!-- This page is inheriting everything from the base template -->
{% extends "base.html" %}

<!-- This block tag is overriding the title block tag from the base template -->
{% block title %} Home {% endblock %}

<!-- This block tag is overriding the banner block tag from the base template -->
{% block banner %} {% include 'carousel.html' %} {% endblock %}

<!-- This block tag is overriding the content block tag from the base template -->
{% block content%}
  <!-- Section 1 -->
  {% if heading1: %}
    {% set products = {'products':products1} %}
      <div class="d-flex justify-content-between">
          <h2>{{heading1}}</h2>
      </div>
      {% include 'card_loop.html' %}
  {% endif %}
  <br>
  

  <!-- Section 2 -->
  {% if heading2: %}
    <hr>
    {% if products.update({'products':products2}) %} {% endif %}
      <div class="d-flex justify-content-between">
          <h2>{{heading2}}</h2>
      </div>
      {% include 'card_loop.html' %}

  {% endif %}
  <br>

  <!-- Section 3 -->
  {% if heading3: %}
    <hr>
    {% if products.update({'products':products3}) %} {% endif %}
      <div class="d-flex justify-content-between">
          <h2>{{heading3}}</h2>
      </div>
      {% include 'card_loop.html' %}
  {% endif %}
  <br>

  <!-- Section 4 -->
  {% if heading4: %}
    <hr>
    {% if products.update({'products':products4}) %} {% endif %}
      <div class="d-flex justify-content-between">
          <h2>{{heading4}}</h2>
      </div>
      {% include 'card_loop.html' %}
  {% endif %}
  
  
{% endblock %}