<!-- 
Variables coming into this template:

count - the number of unique items in the store
fetch - get data from database
-->

<!-- This page is inheriting everything from the base template -->
{% extends "base.html" %}

<!-- This block tag is overriding the title block tag from the base template -->
{% block title %} Testing {% endblock %}


<!-- This block tag is overriding the content block tag from the base template -->
{% block content%}
  <h1>This is the testing template.</h1>

  <p>Database total colllection count is {{count_items}}.</p>
  
  <p>Your Document was added to the database with ID:{{add_item}}.</p>

  <p>Product {{update_item}} was updated.</p>

  <p>Product {{removed_item}} was removed.</p>

  <p>Product ID is {{get_id}}</p>
  
  <p>Here is a list of all your products.
    {%for item in all_items %}
      <div>{{item['item_name']}}</div>
    {% endfor %}
  </p>

  <p>Here is a list of all your products you tried to search.
    {% if searched_products == []: %}
      <div>Product not found</div>
    {% else %}
      {% for item in searched_items %}
        <div>{{item['item_name']}}</div>
      {% endfor %}
    {% endif %}
  </p>

{% endblock %}